VincentCui-GPTFileImageDataExtraction_20230809235020-1/Microsoft.Flow/flows/3e16d72d-2a38-4874-b413-a60525ea469e/definition.json
{"name":"cbd49a3f-9577-44b6-8490-2fdfdb2f08eb","id":"/providers/Microsoft.Flow/flows/cbd49a3f-9577-44b6-8490-2fdfdb2f08eb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"GPT txt Data Extraction - PDFs & Images","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7c50e80b-97dd-4281-8dea-5c785e714608","type":"User","tenantId":"bd294dca-0970-41de-b5d4-ab76fa472bf5"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-08-09T18:01:09.8987976Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"10b1ccc1-de00-4358-95b8-d8e72f5b7c85"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_file_metadata":{"runAfter":{"Linebreak":["Succeeded"]},"metadata":{"b!y2rxipfTvUi7ALZMiyxLa89aQqkbMORMksjFtKI_dfKgJA8V37mjQICJm9mYgy-T.01JWBUU4DL3PCH5K65FRCL2IWF3UTNJUWG":"/POD-Kenya PO10023608.pdf","operationMetadataId":"1796706b-e357-4578-b651-8e27cf82b03e","b!y2rxipfTvUi7ALZMiyxLa89aQqkbMORMksjFtKI_dfKgJA8V37mjQICJm9mYgy-T.01JWBUU4C4OWY64YOCSJGJULFZ2CNR7L2K":"/POD-Kenya PO10023608.pdf","b!y2rxipfTvUi7ALZMiyxLa89aQqkbMORMksjFtKI_dfKgJA8V37mjQICJm9mYgy-T.01JWBUU4GNEWKHDBRESJH2GDE4DZFD5EHT":"/Abbott INV_1303673643_POD.pdf","b!y2rxipfTvUi7ALZMiyxLa89aQqkbMORMksjFtKI_dfKgJA8V37mjQICJm9mYgy-T.01JWBUU4DAPRHZ6W7KBZBJKYJSOMNNMIVV":"/Roche INV_8304933707.pdf","b!y2rxipfTvUi7ALZMiyxLa89aQqkbMORMksjFtKI_dfKgJA8V37mjQICJm9mYgy-T.01JWBUU4DGTO6UGLWL6RDLGGR2Q3JMVCRQ":"/Tyler Kolota Resume Chemonics 2023 (1).pdf","b!x0sdZSEV40uDBXeB4oEPT8aOSON_jIVNlmLidmrLsWgohOiWpyMoRp7XuZ-S379I.01HEOOWHYXZKXW7AVCVBHJBPIFBYSOJBDD":"/Unstructured Documents/QC Slip/Slips-Data Extraction/#9MRM11822SlipMRS 457LiabilityLead Agreed.pdf","b!x0sdZSEV40uDBXeB4oEPT8aOSON_jIVNlmLidmrLsWgohOiWpyMoRp7XuZ-S379I.01HEOOWH7NCDZ2NR57CRHKQZNMS5KXZLUK":"/Test Contracts/Print_Payment_Receipt.jpg","b!x0sdZSEV40uDBXeB4oEPT8aOSON_jIVNlmLidmrLsWgohOiWpyMoRp7XuZ-S379I.01HEOOWHYPAH7C5DJ32VH3QMXMWKVP5ICN":"/Test Contracts/Reinsurance_Contract_Filled.pdf","b!x0sdZSEV40uDBXeB4oEPT8aOSON_jIVNlmLidmrLsWgohOiWpyMoRp7XuZ-S379I.01HEOOWH7MZ6JT2CFTSFC2SRSWJCCQWQ2M":"/Test Contracts/contract_image.jpg"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness_1","operationId":"GetFileMetadata"},"parameters":{"id":"b!x0sdZSEV40uDBXeB4oEPT8aOSON_jIVNlmLidmrLsWgohOiWpyMoRp7XuZ-S379I.01HEOOWH7MZ6JT2CFTSFC2SRSWJCCQWQ2M"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_file_metadata":["Succeeded"]},"metadata":{"operationMetadataId":"8b379bcb-615a-42ff-b39b-e9adea5daa69"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness_1","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Get_file_metadata')?['body/Id']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_Convert_to_txt":{"foreach":"@outputs('Recognize_text_in_an_image_or_a_PDF_document')?['body/responsev2/predictionOutput/results']","actions":{"Select_GetVerticalYCoordinates":{"runAfter":{},"metadata":{"operationMetadataId":"28a312bc-0836-4b6b-9de4-86c4a0df9da1"},"type":"Select","inputs":{"from":"@items('Apply_to_each_Convert_to_txt')?['lines']","select":"@int(formatNumber(mul(100, add(item()?['boundingBox']?['polygon']['coordinates'][0]['y'], div(sub(item()?['boundingBox']?['polygon']['coordinates'][3]['y'], item()?['boundingBox']?['polygon']['coordinates'][0]['y']), 2))), '#0'))"}},"Apply_to_each":{"foreach":"@union(body('Select_GetVerticalYCoordinates'), body('Select_GetVerticalYCoordinates'))","actions":{"Filter_array_GetTextOnLine":{"runAfter":{},"metadata":{"operationMetadataId":"861992b0-2305-44a0-af43-99be70098ee6"},"type":"Query","inputs":{"from":"@sort(body('Select_AddPropertiesForProcessing'), 'SortX')","where":"@equals(items('Apply_to_each'), int(formatNumber(mul(100, add(item()?['boundingBox']?['polygon']['coordinates'][0]['y'], div(sub(item()?['boundingBox']?['polygon']['coordinates'][3]['y'], item()?['boundingBox']?['polygon']['coordinates'][0]['y']), 2))), '#0')))"}},"Select_FormLinesWithHorizontalSpacing":{"runAfter":{"Filter_array_GetTextOnLine":["Succeeded"]},"metadata":{"operationMetadataId":"fa26ad20-0cad-4bd7-9f5a-4631114c2c2b"},"type":"Select","inputs":{"from":"@range(0, length(body('Filter_array_GetTextOnLine')))","select":"@concat(\r\n\r\ntake(outputs('BlankSpaces'),\r\nmax(\r\n1,\r\nsub(int(formatnumber(mul(sub(body('Filter_array_GetTextOnLine')[item()]?['boundingBox']?['polygon']['coordinates'][0]['x'], if(equals(item(), 0), 0, body('Filter_array_GetTextOnLine')[sub(item(), 1)]?['boundingBox']?['polygon']['coordinates'][1]['x'])), 100), '#0')), 2)\r\n)\r\n),\r\n\r\nbody('Filter_array_GetTextOnLine')[item()]?['text']\r\n)"}},"Append_to_array_variable":{"runAfter":{"Select_FormLinesWithHorizontalSpacing":["Succeeded"]},"metadata":{"operationMetadataId":"9f203c72-1312-43b3-a10d-d09c81d1c473"},"type":"AppendToArrayVariable","inputs":{"name":"EachLine","value":"@{formatnumber(items('Apply_to_each_Convert_to_txt')?['page'], 'D4')}@{formatNumber(items('Apply_to_each'), 'D4')}###@{join(body('Select_FormLinesWithHorizontalSpacing'), '')}"}}},"runAfter":{"Select_AddPropertiesForProcessing":["Succeeded"]},"metadata":{"operationMetadataId":"7690e8ec-f3bc-4c75-bd73-c46d55b02b37"},"type":"Foreach","description":"For each vertical Y coordinate where text was found, create a line of text with approximate horizontal x coordinate spacing","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Select_AddPropertiesForProcessing":{"runAfter":{"Select_GetVerticalYCoordinates":["Succeeded"]},"metadata":{"operationMetadataId":"bcf26863-7865-4b46-809f-712b343fb449"},"type":"Select","inputs":{"from":"@items('Apply_to_each_Convert_to_txt')?['lines']","select":"@addProperty(item(), 'SortX', first(item()?['boundingBox']?['polygon']['coordinates'])['x'])"}}},"runAfter":{"Recognize_text_in_an_image_or_a_PDF_document":["Succeeded"]},"metadata":{"operationMetadataId":"20fc68dc-7957-4123-86f6-a2e3757db81c"},"type":"Foreach","description":"Uses the identified text & associated text coordinates to build a text (txt) output that approximates all the text & text positioning in an image or PDF","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"BlankSpaces":{"runAfter":{"Initialize_variable_EachLine":["Succeeded"]},"metadata":{"operationMetadataId":"7e5512b1-d14d-442a-a69c-7780e1e09a7a"},"type":"Compose","inputs":"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                "},"Linebreak":{"runAfter":{"BlankSpaces":["Succeeded"]},"metadata":{"operationMetadataId":"d7703327-2c18-4a28-a9ca-c754a069a6ce"},"type":"Compose","inputs":"\n"},"Combined_txt_output":{"runAfter":{"Select_ResortPagesAndLines":["Succeeded"]},"metadata":{"operationMetadataId":"daa1e0fe-4df0-477b-b32b-997f4ccbf8a2"},"type":"Compose","inputs":"@join(body('Select_ResortPagesAndLines'), outputs('Linebreak'))"},"Recognize_text_in_an_image_or_a_PDF_document":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"3e357f5f-d994-409b-bb47-3d7e43c70439","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_textrecognition","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"aibuilderpredict_textrecognition"},"parameters":{"item/requestv2/base64Encoded":"@body('Get_file_content')","recordId":"86419a67-205a-454f-b6fc-601394f2786d"},"authentication":"@parameters('$authentication')"}},"Select_ResortPagesAndLines":{"runAfter":{"Apply_to_each_Convert_to_txt":["Succeeded"]},"metadata":{"operationMetadataId":"16822721-9a21-46bd-8b8a-7f3f5663b7de"},"type":"Select","inputs":{"from":"@sort(variables('EachLine'))","select":"@join(skip(split(item(), '###'), 1), '')"},"description":"Since the above loop was collecting lines with concurrency on, the lines may not come out in order. That is why the last action in the loop appended the page # & vertical line # so they can be resorted here. Also removes the resort formatting."},"Initialize_variable_EachLine":{"runAfter":{},"metadata":{"operationMetadataId":"bbda957a-609e-4ca5-97fb-356b2a294c4d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EachLine","type":"array"}]}},"Create_text_with_GPT":{"runAfter":{"Combined_txt_output":["Succeeded"]},"metadata":{"operationMetadataId":"4f627591-70f5-4dff-9608-ce28abd5b492","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_gptpromptengineering","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"aibuilderpredict_gptpromptengineering"},"parameters":{"item/requestv2/prompt":"Be aware, the text is a contract was captured by optical character recognition (OCR) & it may contain some errors like wrong characters or generally miss some formatting of the original file.\nIf a piece of data can not be found or determined from the text, return N/A.\n\n[Start of text]\n@{outputs('Combined_txt_output')}\n[End of text]\n\nCreate a JSON object with the data you deem important to include that has been extracted.","recordId":"a1afa5d4-7a44-4c31-9cd2-e852a78431fa","item/requestv2/parameters":"{}"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_onedriveforbusiness_1":{"connectionName":"shared-onedriveforbu-8deca521-24ce-4825-8b3e-d11d53934e56","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_commondataserviceforapps_1":{"connectionName":"shared-commondataser-79250f88-f65c-473f-b475-6ed1c91f7a3e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}